## Reto 5: Limpiando un dataset

### 1. Objetivos:
    - Aplicar todo lo que aprendimos el día de hoy a un dataset real
 
---
    
### 2. Desarrollo:

#### a) Limpieza de datos en el mundo real

Hasta ahora hemos estado realizando ejercicios con datasets dummy (falsos). Ahora vamos a aplicar todo lo que hemos aprendido el día de hoy a un dataset real.

El dataset se encuentra en la carpeta [Datasets](../../Datasets/Readme.md) en la raíz del repositorio. El nombre el dataset es 'melbourne_housing-raw.csv'.

Lee el dataset usando pandas y realiza las siguientes tareas:

1. Ve a este [link](https://www.kaggle.com/anthonypino/melbourne-housing-market) para conocer más sobre el dataset y los datos que contiene.
2. Explora tu dataset para entender su estructura
3. Identifica los `NaNs` en el dataset y dónde se encuentran
4. Elimina los `NaNs` de tu dataset
5. Resetea tu índice para que sea compatible con el nuevo dataset
6. Cambia los nombres de las columnas para que tengan consistencia y no haya errores ortográficos
7. Realiza agregaciones (min, man, mean, etc) de las siguientes filas para conocer mejor la distribución de tus datos:
    a) Price
    b) Distance
    c) Landsize
    
Si tienes dudas en algún momento, por favor pídele a la experta que te oriente. Todas las tareas que hay que realizar ya las hemos hecho en otros retos; puedes ir a revisar esos otros ejercicios para recordar.

¡Mucha suerte!

In [12]:
import pandas as pd

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/melbourne_housing-raw.csv',sep=',')

2. Exploraremos el dataset con: head, tail y shape y dtypes

In [15]:
df.head(5)

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [16]:
df.tail(5)

           Suburb               Address  ...             Regionname Propertycount
19735     Windsor       201/152 Peel St  ...  Southern Metropolitan        4380.0
19736     Wollert       60 Saltlake Bvd  ...  Northern Metropolitan        2940.0
19737  Yarraville           2 Adeney St  ...   Western Metropolitan        6543.0
19738  Yarraville       54 Pentland Pde  ...   Western Metropolitan        6543.0
19739  Yarraville  10/127 Somerville Rd  ...   Western Metropolitan        6543.0

[5 rows x 21 columns]

In [18]:
df.shape

(19740, 21)

In [19]:
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

3. Identificamos los NaNs utilizando isna y sum

In [21]:
df.isna().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             4344
Method               0
SellerG              0
Date                 0
Distance             8
Postcode             8
Bedroom2          4413
Bathroom          4413
Car               4413
Landsize          4796
BuildingArea     11123
YearBuilt        10389
CouncilArea       4444
Lattitude         4292
Longtitude        4292
Regionname           8
Propertycount        8
dtype: int64

4. Eliminamos los NaNs rellenando columnas y eliminando columnas con el método drop

In [23]:
df_2 = df.drop(columns=['YearBuilt','BuildingArea'])

df_2.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price            4344
Method              0
SellerG             0
Date                0
Distance            8
Postcode            8
Bedroom2         4413
Bathroom         4413
Car              4413
Landsize         4796
CouncilArea      4444
Lattitude        4292
Longtitude       4292
Regionname          8
Propertycount       8
dtype: int64

In [24]:
df_2['Regionname'] = df_2['Regionname'].fillna('Unknown')

df_2.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price            4344
Method              0
SellerG             0
Date                0
Distance            8
Postcode            8
Bedroom2         4413
Bathroom         4413
Car              4413
Landsize         4796
CouncilArea      4444
Lattitude        4292
Longtitude       4292
Regionname          0
Propertycount       8
dtype: int64

In [26]:
df_no_nan = df_2.dropna(axis=0,how='any')

df_no_nan.isna().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

5. Reseteamos el índice para que sea compatible con el nuevo dataset

In [28]:
df_no_nan = df_no_nan.reset_index(drop=True)

In [29]:
df_no_nan.head(5)

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 19 columns]

6. Cambiamos los nombres de las columnas para que tengan consistencia y no haya errores ortográficos

In [30]:
column_name_mapping = {
    'Suburb': 'suburb',
    'Address': 'address',
    'Rooms': 'rooms',
    'Type': 'type',
    'Price': 'price',
    'Method': 'method',
    'SellerG': 'seller_g',
    'Date': 'date',
    'Distance': 'distance',
    'Postcode': 'post_code',
    'Bedroom2': 'bedrooms',
    'Bathroom': 'bathroom',
    'Car': 'car',
    'Landsize': 'land_size',
    'CouncilArea': 'council_area',
    'Lattitude': 'latitude',
    'Longtitude': 'longitude',
    'Regionname': 'region_name',
    'Propertycount': 'property_count'
}

In [31]:
df_renombrado = df_no_nan.rename(columns=column_name_mapping)

df_renombrado

             suburb  ... property_count
0        Abbotsford  ...         4019.0
1        Abbotsford  ...         4019.0
2        Abbotsford  ...         4019.0
3        Abbotsford  ...         4019.0
4        Abbotsford  ...         4019.0
...             ...  ...            ...
11641    Whittlesea  ...         2170.0
11642  Williamstown  ...         6380.0
11643    Yarraville  ...         6543.0
11644    Yarraville  ...         6543.0
11645    Yarraville  ...         6543.0

[11646 rows x 19 columns]

7. Realizamos agregaciones (min, man, mean, etc) de las siguientes filas para conocer mejor la distribución de tus datos: a) Price b) Distance c) Landsize

In [40]:
df_renombrado['price'].describe().apply(lambda x: format(x, 'f'))

count      11646.000000
mean     1068141.895071
std       643728.191437
min        85000.000000
25%       640000.000000
50%       895500.000000
75%      1325000.000000
max      9000000.000000
Name: price, dtype: object

In [38]:
df_renombrado['distance'].describe()

count    11646.000000
mean         9.583059
std          5.304187
min          0.000000
25%          5.900000
50%          9.100000
75%         12.300000
max         47.400000
Name: distance, dtype: float64

In [39]:
df_renombrado['land_size'].describe()

count    11646.000000
mean       554.458097
std       1460.432326
min          0.000000
25%        162.000000
50%        412.000000
75%        656.000000
max      76000.000000
Name: land_size, dtype: float64