## Ejemplo 5: Filtros

### 1. Objetivos:
    - Aprender cómo funcionan los filtros
    - Aplicar varios filtros para verlos en acción
 
---
    
### 2. Desarrollo:

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/new_york_times_bestsellers-dirty.csv', index_col=0)

df.head()

                                  amazon_product_url  ... price.numberDouble
0  http://www.amazon.com/The-Host-Novel-Stephenie...  ...              25.99
1  http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...              24.95
2  http://www.amazon.com/The-Front-Garano-Patrici...  ...              22.95
3  http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...  ...              24.95
5  http://www.amazon.com/Phantom-Prey-John-Sandfo...  ...              26.95

[5 rows x 12 columns]

Digamos que queremos todas los records donde el nombre del autor empiece con 'R'. Primero, usamos `operadores de comparación` (o en este caso, el método `str.startswith`) para obtener nuestro filtro:

In [4]:
df['author'].str.startswith('R')

0       False
1       False
2       False
3       False
5       False
        ...
3027    False
3028    False
3029    False
3030    False
3031    False
Name: author, Length: 2266, dtype: bool

Lo que obtenemos de regreso es una `Serie` con la misma longitud que la `Serie` original. Se aplicó el método o la comparación a cada elemento de la `Serie` original. Estos métodos o comparaciones regresan `True` o `False` dependiendo de cada valor. La `Serie` resultante acumula los `Trues` y `Falses` que obtengamos de la comparación o de la aplicación del método.

Después, al pasar este filtro al `operador de indexación` del `DataFrame`, todas las filas a las que les corresponda un `True` se mantienen, mientras que las filas a las que les corresponde un `False` se dejan fuera del subconjunto resultante:

In [5]:
df[df['author'].str.startswith('R')].head()

                                    amazon_product_url  ... price.numberDouble
79   http://www.amazon.com/Chasing-Darkness-Elvis-N...  ...              25.95
94   http://www.amazon.com/Chasing-Darkness-Elvis-N...  ...              25.95
110  http://www.amazon.com/Killer-View-Fleming-Ridl...  ...              24.95
143  http://www.amazon.com/Foreign-Body-Robin-Cook/...  ...              25.95
158  http://www.amazon.com/Foreign-Body-Robin-Cook/...  ...              25.95

[5 rows x 12 columns]

Podemos también guardar nuestros filtros en variables y después utilizarlos:

In [6]:
filtro_precio_mayor_a_20 = df['price.numberDouble'] > 20

In [7]:
df[filtro_precio_mayor_a_20].head()

                                  amazon_product_url  ... price.numberDouble
0  http://www.amazon.com/The-Host-Novel-Stephenie...  ...              25.99
1  http://www.amazon.com/Love-Youre-With-Emily-Gi...  ...              24.95
2  http://www.amazon.com/The-Front-Garano-Patrici...  ...              22.95
3  http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...  ...              24.95
5  http://www.amazon.com/Phantom-Prey-John-Sandfo...  ...              26.95

[5 rows x 12 columns]

Podemos incluso aplicar dos o más filtros utilizando `operadores lógicos`. En este caso, nuestro operador `and` se representa con un `&` y el operador `or` se representa con `|`:

In [8]:
filtro_rank_numero_uno = df['rank.numberInt'] == '1'

In [9]:
df[filtro_precio_mayor_a_20 & filtro_rank_numero_uno].head()

                                    amazon_product_url  ... price.numberDouble
51   http://www.amazon.com/Fearless-Fourteen-Janet-...  ...              27.95
63   http://www.amazon.com/Fearless-Fourteen-Janet-...  ...              27.95
85   http://www.amazon.com/Tribute-Nora-Roberts/dp/...  ...              26.95
98   http://www.amazon.com/Tribute-Nora-Roberts/dp/...  ...              26.95
111  http://www.amazon.com/Secret-Servant-Gabriel-A...  ...              26.95

[5 rows x 12 columns]